<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Setup for XOXO fax send</title>
    <meta name="description" content="Send a PDF as a fax for XOXO frands!">
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.com/29d80af9-3e0a-4389-8807-cea9e546df37%2Fapple-touch-icon.png?v=1587944998403">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.com/29d80af9-3e0a-4389-8807-cea9e546df37%2Ffavicon-32x32.png?v=1587944998424">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.glitch.com/29d80af9-3e0a-4389-8807-cea9e546df37%2Ffavicon-16x16.png?v=1587944998373">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <style>
      h3.complete {
        background: palegreen;
      }
      h3.complete:after {
        content: '✅'
      }
    </style>
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/setup.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Setup for XOXO fax send
      </h1>
    </header>

    <main>
      
      <h2>
        👋🏽
      </h2>
      
      <p>
        We need a few more pieces of information to finish setting up the app. This page will track your progress and show which steps you've completed with a checkmark (✅).
      </p>
      
      <p>
        This is a basic system that uses Twilio's Fax API to send faxes. To set it up for yourself or your own friend group, you'll need a developer account from Twilio, which is out of scope of this document.
      </p>
      
      <p>
        Once you have a funded Twilio account, you'll need a phone number, and two codes from the <a target="_blank" href="https://www.twilio.com/console">Twilio Developer Console</a>.
      </p>
      
      <h3 id="twilio-phone">
        Twilio Phone Number
      </h3>
      
      <p>
        Buy a phone number from Twilio to send faxes from it.
        This also goes into the <code>.env</code> file of this project:
      </p>
      
      <pre><code># find these at https://www.twilio.com/console
# TWILIO_PHONE_NUMBER=<mark>"+15551234567"</mark>
# TWILIO_ACCOUNT_SID=XXXXXXXXXXXXXXXXXXXXXXXXXXXX
# TWILIO_AUTH_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXX
</code></pre>
      
      <h3 id="credentials">
        Account Credentials
      </h3>
      
      <p>
        You'll also need your "Account SID" and "Auth Token", both of which are also in the console. These are secrets, so be sure not to share them with anyone! The values in <code>.env</code> are only visible to the owner of the project, so you can safely paste them there:
      </p>

      <pre><code># find these at https://www.twilio.com/console
# TWILIO_PHONE_NUMBER="+15551234567"
# TWILIO_ACCOUNT_SID=<mark>XXXXXXXXXXXXXXXXXXXXXXXXXXXX</mark>
# TWILIO_AUTH_TOKEN=<mark>XXXXXXXXXXXXXXXXXXXXXXXXXXXX</mark>
</code></pre>
      
      <p>
        (You might see options to generate and use API Keys instead, but we always need to provide the Account SID, and to validate requests from Twilio we need the Auth Token as well anyway.)
      </p>

      <h3 id="secret">
        A Secret!
      </h3>
      
      <p>
        This app will send a real fax to a phone number and charge you money for doing so, and we don't want just anyone to be able to do that! Pick out a secret phrase or password you can use to make sure only you and your friends can send a fax from the app, and add it to <code>.env</code>
      </p>

      <pre><code># let's not let just anyone fax you
SECRET=<mark>XXXXXXXX</mark></code></pre>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a> and <a href="https://www.twilio.com">Twilio</a>
      by <a href="http://vitor.io">Vitorio</a> for the <a href="https://xoxofest.com/">XOXO</a> Slack.
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
